.header {
    background: linear-gradient(to right, black 0%, black 69.9%, #00D285 70%, #00D285 100%);
    height: 750px;
}

.navv {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.ul-nav a,
.logo-nav h1 a {
    color: #fff;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
}

.logo-nav h1 {
    width: 170px;
}

.logo-nav h1 p {
    font-size: 10.5px;
}

.ul-nav {
    width: 700px;
    display: flex;
    justify-content: space-between;
}


.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header-flex-text {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-flex-text h1 {
    font-size: 58px;
    line-height: 70px;
    margin-bottom: -2rem;
}

.header-flex-text p {
    font-size: 14px;
    line-height: 30px;
}

.header-flex-img img {
    width: 515px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.green-btn {
    width: 200px;
    height: 55px;
    border: none;
    font-size: 20px;
    color: #fff;
    background-color: #00D285;
    border-radius: 20rem;
}

.white-btn {
    width: 200px;
    height: 55px;
    border: none;
    font-size: 20px;
    color: black;
    background-color: #fff;
    border-radius: 20rem;
}

.section-header {
    margin-top: 6rem;
}



.section1 {
    height: 1100px;
    display: flex;
    align-items: center;
}

.section-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-flex-img img {
    width: 500px;
    border-radius: 10px;
}

.section1-box {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.section1-box-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 10px;
}

.section-flex-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.section1-box-text h1 {
    font-size: 20px;
}

.section1-box-text p {
    line-height: 30px;
    color: #262626;
}

.section1-main-text {
    width: 440px;
}


.section2 {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, black 0%, black 39.9%, #d9fff0 40%, #d9fff0 100%);
}

.section2-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-flex-text {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.section2-flex-text h1 {
    font-size: 40px;
}

.section2-flex-text p {
    line-height: 30px;
    font-size: 15px;
    color: #262626;
}


.section3 {
    height: 520px;
}

.section3-first {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hr {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #00D285;
}

.first-hr {
    display: flex;
    align-items: center;
    gap: 10px;
}

.second-hr {
    display: flex;
    align-items: center;
    gap: 10px;
}